@model Models.FreeGuideEmails

@{
    ViewData["Title"] = "Guide gratuit";
    ViewData["MetaDescription"] = "Guide gratuit pour créer un site Web pour votre entreprise";
    ViewData["MetaKeywords"] = "site internet, agence de développement web casablanca, développement web, consultation gratuite, application web ,CA Web Solutions, Guide gratuit";
}


<div class="page-title dark-background" data-aos="fade">
    <div class="container position-relative">
        <p>
            Téléchargez votre guide gratuit :

        </p>
        <h1>
            Guide Ultime pour Lancer Votre Entreprise en Ligne
        </h1>
        <p>
            Boostez la visibilité de votre entreprise en suivant des étapes simples et efficaces.
        </p>
        <p>
            Dans ce guide exclusif, découvrez comment créer un site web performant pour attirer plus de clients et faire grandir votre business. Nous vous accompagnons à chaque étape avec des explications simples et sans jargon.
        </p>
    </div>
</div>

<section id="contact" class="contact section">

    <div class="container">

        <div class="row gy-4">
            <div class="col">
                <form method="post">
                    <div class="row gy-4 justify-content-center">
                        
                        <div class="col-md-6 d-flex flex-column align-items-center">
                            <p class="text-dark">Merci de bien vouloir insérer votre adresse email dans le champ suivant pour recevoir le guide gratuit:</p>
                            <input id="Email" asp-for="Email" class="form-control mb-2" type="email" placeholder="E-mail" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary" type="submit">Envoie-moi le guide</button>
                        </div>

                    </div>
                </form>

            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->



