@model Models.FreeGuideEmails

@{
    ViewData["Title"] = "Guide gratuit";
    ViewData["MetaDescription"] = "Guide gratuit pour créer un site Web pour votre entreprise";
    ViewData["MetaKeywords"] = "site internet, agence de développement web casablanca, développement web, consultation gratuite, application web ,CA Web Solutions, Guide gratuit";
}


<div class="page-title dark-background" data-aos="fade">
    <div class="container position-relative">
        <h1>
            Guide gratuit :<br />
            Guide ultime pour mettre votre entreprise en ligne
        </h1>
        <p>
            Explorez les étapes clés pour mettre votre entreprise en ligne facilement et rapidement.
        </p>
        <p>
            Dans ce guide gratuit, nous vous montrons exactement comment procéder. Pas de jargon, pas de termes techniques complexes, juste un aperçu simple et clair, étape par étape, de ce que vous devez faire.
        </p>
    </div>
</div>

<section id="contact" class="contact section">

    <div class="container">

        <div class="row gy-4">
            <div class="col">
                <form method="post">
                    <div class="row gy-4 justify-content-center">
                        
                        <div class="col-md-6 d-flex flex-column align-items-center">
                            <p class="text-dark">Merci de bien vouloir insérer votre adresse email dans le champ suivant pour recevoir le guide gratuit:</p>
                            <input id="Email" asp-for="Email" class="form-control mb-2" type="email" placeholder="E-mail" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary" type="submit">Envoie-moi le guide</button>
                        </div>

                    </div>
                </form>

            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->



