@{
    Layout = "/Views/Shared/_Conversion.cshtml";
}
@model Models.ViewModels.ClientInformationsVM
@{
    ViewData["Title"] = "Page de remerciement";
    ViewData["MetaDescription"] = "Page de remerciement";
    ViewData["MetaKeywords"] = "stratégie marketing, conseils marketing, SEO, publicités en ligne, réseaux sociaux, optimisation digitale, Cashflow Creators blog, marketing digital avancé, solutions pour entreprises";
}


<partial name="_Notification" />
<!-- Page Title -->
<div class="page-title dark-background" data-aos="fade">
    <div class="container position-relative">
        <h1>
            Merci !
        </h1>
        <p>
            Votre guide gratuit est en route et arrivera dans votre boîte de réception d'ici cinq minutes. Vérifiez votre dossier SPAM s'il n'arrive pas dans ce délai.
        </p>
        <h2>Vous voulez savoir ce que nous pouvons faire pour vous ?</h2>
        <p>
            Remplissez le formulaire et nous vous répondrons. Aucune obligation, pas de vente sous pression ennuyeuse. Nous avons tous les deux mieux à faire.
        </p>
    </div>
</div><!-- End Page Title -->
<!-- Contact Section -->
<section id="contact" class="contact section">

    <div class="container">

        <div class="row gy-4">



            <div class="col">
                <form method="post">
                    <div class="row gy-4">
                        <input id="type" asp-for="clientInformation.type" class="form-control" hidden />

                        <div class="col-md-6">
                            <label asp-for="clientInformation.Name"></label>
                            <input id="Name" asp-for="clientInformation.Name" class="form-control" />
                            <span asp-validation-for="clientInformation.Name" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 ">
                            <label asp-for="clientInformation.CompanyName"></label>
                            <input id="CompanyName" asp-for="clientInformation.CompanyName" class="form-control" />
                            <span asp-validation-for="clientInformation.CompanyName" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="clientInformation.PhoneNumber"></label>
                            <input id="PhoneNumber" asp-for="clientInformation.PhoneNumber" class="form-control" />
                            <span asp-validation-for="clientInformation.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="clientInformation.Email"></label>
                            <input id="Email" asp-for="clientInformation.Email" class="form-control" type="email" />
                            <span asp-validation-for="clientInformation.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="clientInformation.Question"></label>
                            <textarea class="form-control" id="Question" asp-for="clientInformation.Question" rows="6"></textarea>
                            <span asp-validation-for="clientInformation.Question" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <label asp-for="clientInformation.HowDidYouFindUs"></label>
                            <select asp-for="clientInformation.HowDidYouFindUs" asp-items="@Model.meansList" class="form-select">
                                <option disabled selected></option>
                            </select>
                            <span asp-validation-for="clientInformation.HowDidYouFindUs" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary" type="submit">Envoyer</button>
                        </div>

                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->
